{% extends "video/base.html" %}

{% block content %}

<div class="header">
  <h2>American Sign Language Video Learning Project</h2>
</div>

<div class="searchBlock" align="center">
  <form action="" method="post" class="surroundField">
    {% csrf_token %}

    <table border="0">
      <tr>
        <td>{{ form.as_p }}
        </td>

        <td>
          <button class="btn btn-primary" style="margin:0px !important;" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </td>
      </tr>
    </table>
  </form>
</div>

<div class="video-media-youtube">
				<ul class="video__container">

					<li class="video__content">

						<ul class="video-media-youtube-inner">
              {% for key, value in vid_url %}
        					<li class="media__embed">
          						<h3>{{ key }}</h3>
          						<div class="video-media-youtube-inner-vi video-media-youtube-inner-vi--ratio">
            						<iframe src="{{ value }}" width="200" height="100" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          						</div>
        					</li>
                  {% endfor %}
      			</ul>

    			</li>

  			</ul>
</div>

{% endblock content %}
