{% extends "video/base.html" %}

{% block content %}
<div class="con1">
  <div class="block">
    <iframe src="{{ text_value }}" width="100" height="100" frameborder="0"></iframe>
  </div>
  <div class="block">
    <iframe src="https://www.youtube.com/embed/YQHsXMglC9A" width="100" height="100" frameborder="0"></iframe>
  </div>
  <div class="block">
    <iframe src="https://www.youtube.com/embed/YQHsXMglC9A" width="100" height="100" frameborder="0"></iframe>
  </div>
<div class="con2">
  <div class="block">
    <iframe src="https://www.youtube.com/embed/YQHsXMglC9A" width="100" height="100" frameborder="0"></iframe>
  </div>
  <div class="block">
    <iframe src="https://www.youtube.com/embed/YQHsXMglC9A" width="100" height="100" frameborder="0"></iframe>
  </div>
  <div class="block">
    <iframe src="https://www.youtube.com/embed/YQHsXMglC9A" width="100" height="100" frameborder="0"></iframe>
  </div>
</div>
</div>

{% endblock content %}
